.Logo{
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    vertical-align: middle;
    letter-spacing: 2px;
}

.Button{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

.Button:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(10, 212, 20);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .Button:hover:after { 
    width: 100%; 
    left: 0; 
  }