.changeEmail {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.155);
  margin: 10px;
}
.changePassword {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.155);
  margin: 10px;
}
.changeEmailInputs{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.changePasswordInputs{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.saveButton{
  min-width: 5vw;
  border: none;
  background: #518e48;
  padding: 1vh;
  border-radius: 10px;
  margin: 2vh;
}
.saveButton:hover {
  cursor: pointer;
  background: #67ad5c;
}
.closeIcon{
  position: fixed;
  transform:translate(19.5vw, 1.5vh);
}
.closeIcon:hover{
  color: red;
  cursor: pointer;
}