.Security {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ChangePassword {
  display: flex;
  width: 98%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ChangeEmail {
  display: flex;
  width: 98%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  background: #518e48bd;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 18px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  outline: inherit;
  font-size: 1vw;
}
