.loadingScreen {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
.loadingScreenIcon{
  color: #518e48;
  animation-name: spinning;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spinning {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}