.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: white;
  width: 90%;
  margin-left: 4%;
  margin-top: 10px;
  padding: 10px;
}

.accordion-title:hover {
  background-color: #518e48;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  width: 88%;
  margin-left: 5%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  border-top: 0;
  background-color: #67ad5c;
}
