.Navigation {
  display: flex;
  width: 90%;
  display: block;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  height: auto;
  background-color: #518e48;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
  margin-top: 10px;
  margin-left: 10px;
}

.ButtonIcon {
  padding: 10px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.ButtonIcon:hover {
  color: #8dd882;
}
