.AuthContainer{
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Authorization_container{
    background-color: transparent;
    text-align: center;
}
.Authorization{
    width: fit-content;
    font-size: 25px;
    font-weight: 500;
    color:black;
    cursor: pointer;
}
.userIconContainer{
    color: black;
    margin-right: 10px;
}
.userIconContainer:hover{
    cursor: pointer;
    color: #518e48;
}