form{
padding: 2%;
}

.new-organization__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .new-organization__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-organization__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  }
  
  .new-organization__actions {
    text-align: right;
    margin-bottom: 5vh;
    margin-right: 5vh;
  }

.create-button {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: aquamarine;
}