@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.mainComponent{
  margin-top: 50px;
}
.main-categoryslidercard-conteiner {
  width: 70vw;
  max-width: 1920px;
  height: 320px;
  position: relative;
  display: flex;
  align-items: center;
}

#categoryslidercard {
  max-width: 1920px;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#categoryslidercard::-webkit-scrollbar {
  display: none;
}

/* .swiper-button-prev {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  size: 40;
  opacity: 0.6;
  color: #518e48;
  border: 2px solid #518e48;
  left: -20px;
} */

/* .swiper-button-next {
  background-color: white;
  border-radius: 100%;
  right: 0;
  color: #518e48;
  opacity: 0.6;
  border: 2px solid #518e48;

  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
} */

.organization-card {
  width: 259px;
  position: relative;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
  flex-flow: column;
}

.organization-card-image {
  width: 100%;
  height: auto;
  background-color: #67ad5c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-size: 320px;
  border-bottom: 3px solid #518e48;
  align-items: center;
}

.organization-card-image-div {
  position: absolute;
  top: 0;
}

.organization-card-name {
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding: 10px;
  font-size: 1vw;
  font-style: oblique;
  font-weight: 600;
  flex-grow: 1;
}

.last-card-title {
  font-family: "Open Sans", sans-serif;
  align-items: center;

  padding: 10px;
  font-size: 1.9vw;
  font-style: oblique;
  font-weight: 600;
  color: white;
}

.last-card-button {
  display: flex;
  position: relative;
  align-items: flex-end;
  top: 15px;
  left: 120px;
}

.swiper {
  width: 70vw;
  max-width: 1920px;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  padding-bottom: 5px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-next {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  size: 40;
  color: #518e48;
  border: 2px solid #518e48;
  right: 0px;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 20 * 27);
  height: calc(var(--swiper-navigation-size) / 20 * 27);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  --swiper-navigation-size: 25px;
}

.swiper-button-prev {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  size: 40;
  color: #518e48;
  border: 2px solid #518e48;
  left: 0px;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 20 * 27);
  height: calc(var(--swiper-navigation-size) / 20 * 27);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  --swiper-navigation-size: 25px;
}

.organization-addresses {
  font-weight: 300;
  font-size: 0.7vw;
}
