
.mainContainer{
  margin-top: 50px;
}

.animation {
  width: 400px;
  height: 80px;
  background-color: aqua;
  margin: 10px auto;
}

.motion-container {
  width: 70vw;
  max-width: 1920px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  vertical-align: top;
  align-items: center;
  justify-content: center;
}

.motion-box {
  max-width: 1920px;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-motion {
  width: 29vw;
  height: 400px;
  align-items: center;
  vertical-align: middle;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.text-motion {
  width: 29vw;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
  white-space: normal;
  word-wrap: normal;
}

.img-motion-style {
  max-height: 170px;
}

.text-motion-style {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  font-size: 0.8vw;
  font-weight: 300;
  line-height: 30px;
}
