p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
}

img {
    width: 12vw;
    height: 8vw;
    border-radius: 7px;
    margin: 0;
    padding: 0;
}

.name {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.adress {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}