
.slaiderbox {
    max-width: 1280px;
    background-color: transparent;
    width: 90vw;
    height: 10vw;
}

.OrganizationsSlider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.OrganizationSlider p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
}
