.ProfileImage {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 13px -3px rgba(66, 68, 90, 1);
}

.Image img {
  width: 10vw;
  border-radius: 10px;
  border-bottom: 3px solid #518e48;
}

.Name {
  font-size: 2vw;
  text-decoration: underline #518e48 3px;
}

.Information {
  display: flex;
  width: 98%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
strong {
  margin-left: 19%;
}

span {
  margin-right: 19%;
  text-transform: capitalize;
}

.Text {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TrainerChilds {
  display: flex;
  flex-direction: row;
  gap: 0.6vw;
}

.Trainer {
  display: flex;
  width: 98%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Childs {
  display: flex;
  width: 98%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Trainerbutton {
  background: #518e48bd;
  color: white;
  border-radius: 5px;
  padding: 7px 24px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  outline: inherit;
  font-size: 1vw;
}
