.searchBar{
    width: 30vw;
    height: 5vh;
    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    text-align: center;
}

.searchBar:focus {
    outline: none;
}
.searchIcon{
    position: absolute;
    right: 37.5%;
    transform:translateX(2.5vw);
}
.closeIcon{
    transform:translateX(-2.5vw);
    cursor: pointer;
}
.closeIcon:hover{
    color: red;
}