.UserImage{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.UserImage img{
    width: 200px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.255);
}
.AddPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.555);
}
.AddPhoto:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.255);
}