.AccountPage {
  background: white;
  justify-content: center;
  text-align: center;
}

.Container {
  width: 70%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.Wrapper {
  display: flex;
  width: 70vw;
  max-width: 1920px;
  height: auto;
  min-height: 100vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
}

.LeftColumn {
  width: 30%;
}
