.navibar_main_container{
    /* position: fixed; */
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    opacity: 0.6;
    border-bottom: 3px solid #518e48;
}
.navibar_container{
    width: 70vw;
    max-width: 1920px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
}