.sign-up-form{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
input {
    text-align: center;
    border: none;
    background: #f2f2f2;
    width: 450px;
    height: 40px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.submit {
    background: lightblue;
}
