.Text {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.infoList{
  padding: 3vh;
}
.Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editButton{
  padding: 1vh;
  padding-top: 3vh;
  margin-right: 2vw;
  display: flex;
  height: fit-content;
  flex-direction: row-reverse;
}
.editButtonIcon:hover{
  color: #67ad5c;
  cursor: pointer;
}
.saveChangesButton{
  border: none;
  background: #518e48;
  padding: 1vh;
  border-radius: 10px;
}
.saveChangesButton:hover{
  cursor: pointer;
  background: #67ad5c;
}